html {
    height: 100%;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  flex: 0 0 25%;
  margin: 20px 20px;
}

body{
    background-image: url("../img/bg/background_Morning_Star.jpg");
}

body#skreeee {
    background-image: url("../img/bg/background_Forest.jpg");
}

body#tondekei {
    background-image: url("../img/bg/background_Hall.jpg");
}

body#dingdong {
    background-image: url("../img/bg/background_Track_Morning.jpg");
}

body#fluffybutt {
    background-image: url("../img/bg/background_DarkForest.jpg");
}

body#tartman {
    background-image: url("../img/bg/background_Lake.jpg");
}
